{% load static%}
<section class="sidebar">
    <div class="side_tree">
            <div class="sidebar-of-text" id="rtp_sidebar" style="display:block;">

            <ul>
                <a> Расчет технологических потерь при Добыче</a>
                <li>
                    <a class="tableItem choiced" href="{% url 'rtp_1_list' %}">1. Технологические потери природного газа по итогам опорожнения технологического оборудования и трубопроводов перед проведением ремонтных работ, м3 (п.4.2.)</a>
                </li>
                <li>
                    <a class="tableItem choiced"  href="{% url 'rtp_2_list' %}">2. Технологические потери природного газа при регенерации технических жидкостей (МЭГа), м3 (п. 4.3.2)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rtp_3_list' %}">3. Технологические потери природного газа при отборе проб, м3 (п. 4.5)</a>
                </li>
                <hr>
                <a> Расчет потерь при Переработке</a>
                <li>
                    <a class="tableItem choiced" href="{% url 'rppp_1_list' %}">1. Потери природного газа через неплотности соединений и уплотнений ЗРА, м3. (п.5.1.3)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rppp_2_list' %}">2. Потери природного газа через неплотности соединений теплообменной апаратуры на расчетный период, м3. (п.5.1.3)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rppp_3_list' %}">3. Потери природного газа на технологическом объекте при отборе проб для аналитического контроля Qан, м3. (п.5.3.2)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rppp_4_list' %}">4. Потери природного газа при проведении индивидуальных испытаний оборудования Qисп, в случае сброса требующегося для испытания природного газа на факел или на свеч м3. (п.5.3.4)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rppp_5_list' %}">5. Потери природного газа при опорожнении технологического оборудования перед проведением ремонтных работ на расчетный период Qоп, м3. (п.5.2.3)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rppp_6_list' %}">6. Потери природного газа при продувке технологического оборудования инетрным газом Qп, м3. (п.5.2.4)</a>
                </li>
                <hr>
                <a>Конденсат Газовый нестабильный</a><br>
                <a>  Расчет технологических потерь при Добыче</a>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrtp_1_list' %}">1. Технологические потери газового конденсата по итогам опорожнения технологического оборудования и трубопроводов перед проведением ремонтных работ, т. (п. 5.2)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrtp_2_list' %}">2. Технологические потери газового конденсата при отборе проб, т (п. 5.3)</a>
                </li>
                <li>
                    <a class="tableItem choiced"  href="{% url 'nrtp_3_list' %}">3. Технологические потери газового конденсата при уносе с жидкостью, м3 (п. 5.4)</a>
                </li>
                <hr>

                <a> Расчет потерь при Переработке</a>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_1_list' %}">1. Потери газового конденсата со сточными водами товарного парка, т (п.6.1.3.2)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_2_list' %}">2. Потери газового конденсата от испарения при хранении в резервуарах от "малых дыханий", т (п.6.2.3)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_3_list' %}">3. Потери газового конденсата от испарения при хранении в резервуарах от "больших дыханий", т (п.6.2.4)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_4_list' %}">4. Потери газового конденсата при отборе проб для аналитического контроля, т(п.6.3)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_5_list' %}">5. Потери газового конденсата через неплотности соединений и уплотнений ЗРА, т (п.6.4.3)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_6_list' %}">6. Потери газового конденсата через неплотности соединений аппарата на расчетный период Па.ж. (если в аппарате преобладает жидкая фаза), т (п.6.4.6)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_7_list' %}">7. Потери газового конденсата через неплотности соединений теплообменной аппаратуры на расчетный период, т (п.6.4.7)</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_8_list' %}">8. Потери газового конденсата при ремонте трубопроводов, т (п.6.5.3</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_9_list' %}">9. Потери газового конденсата при остановке объектов на планово-предупредительный ремонт, т (п.6.6.1)</a>
                </li>
                <hr>

                <li>
                    <a class="tableItem choiced" href="{% url 'nrppp_10_list' %}">Расчёт потерь конденсата газового стабильного при Переработке</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="profile-details">
        <div class="profile-content">
            <box-icon name='user'></box-icon>
            {% comment %} <img src="image/profile.jpg" alt="profile" > {% endcomment %}
        </div>
        <div class="name-job">
            <div class="profile_name">{{ user.username|default:'гость' }}</div>
            {% comment %} <div class="job">Инженер-клац</div> {% endcomment %}
        </div>
        <a href="{% url 'logout' %}"><img class='logout' src="{% static 'journal/images/logout.png' %}" style="top:0;"/></a>
    </div>
</section>