<form method="post" action="{% url 'nrtp3_1_create' %}" class="js-product-create-form">
    {% csrf_token %}
    <div class="modal-header">
      
      <h4 class="modal-title">Create a new product</h4>
    </div>
    <div class="modal-body">
      {% include 'journal_rtp/forms/nrtp3_1/partial_form.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-bs-dismiss="modal">Закрыть</button>
      <button type="submit" class="btn btn-primary">Создать</button>
    </div>
  </form>