{%extends 'journal/main.html' %}
{% block content %}
<section class="sidebar">
        <div class="side_tree">
                <div class="sidebar-of-text" id="koff_sidebar">
                <ul>
                    <li>
                        <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_koff_content_ka')">Значение коэффициента Ка в зависимости от средней температуры кипения жидкого продукта tср.кип, C и средней температуры в аппрате tср.ап, C</a>
                    </li>
                    <li>
                        <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_koff_content_pe')">Потери от единицы теплообменной аппратуры П() кг/ч, в зависимости от типа аппаратуры и вида продукта или средней темпиратуры кипения жидкости tср, C</a>
                    </li>
                    <li>
                        <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_koff_content_mm')">Значение молярной массы паров углеводородов в зависимости от температуры начала кипения</a>
                    </li>
                </ul>
            </div>
        </div>
</section>

<section class="content">
        <div class="koff_content">
             <div class="content_text" id="id_koff_content_ka" style="display: none">
                  <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Значение коэффициента Ка в зависимости от средней температуры кипения жидкого продукта tср.кип, C и средней температуры в аппрате tср.ап, C</h3>
                </div>

                <div class="tableDiv">
                    <table id="table" class="itemInfoTable" style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">tср.ап ,°С</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">менее 20</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">20 - 52</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">53 - 84</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">85 - 112</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">113 - 138</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">139 - 162</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">163 - 185</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">186 - 206</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">207 - 226</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">227 - 244</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">245 - 262</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">263 - 278</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">279 - 294</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">295 - 310</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">311 - 324</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">325 - 350</th>
                                <th class="objCell" style=" padding-left: 0px; padding-right: 0px; text-align: center">более 350</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in coef %}

                            <tr>

                                <td><span>{{item.temperature}}</span></td>
                                <td><span>{{item.less_20|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_20_52|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_53_84|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_85_112|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_113_138|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_139_162|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_163_185|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_186_206|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_207_226|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_227_244|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_245_262|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_263_278|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_279_294|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_295_310|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_311_324|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_325_350|default_if_none:"-"}}</span></td>
                                <td><span>{{item.more_than_350|default_if_none:"-"}}</span></td>

                            </tr>
                            
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <a></a>
             </div>
             <div class="content_text" id="id_koff_content_pe" style="display: none">
                  <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Потери от единицы теплообменной аппратуры П() кг/ч, в зависимости от типа аппаратуры и вида продукта или средней темпиратуры кипения жидкости tср, C</h3>
                </div>

                <div class="tableDiv">
                    <table id="table"  class="itemInfoTable" style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">Наименование<br> аппаратуры</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">Газы, бензины и жидкости<br> с tср < 120 C</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">Керосины, дизельное<br> топливо и жидкости <br>с tср = 120 % 300 C </th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">Нефть, мазуты и жидкости с с tср > 300 C</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in losses%}
                            <tr>
                                <td><span>{{item.name_of_device|default_if_none:"-"}}</span></td>
                                <td><span>{{item.gas_gasoline|default_if_none:"-"}}</span></td>
                                <td><span>{{item.kerosene_diesel|default_if_none:"-"}}</span></td>
                                <td><span>{{item.oil_masut|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a></a>
             </div>
             <div class="content_text" id="id_koff_content_mm" style="display: none">
                  <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Значение молярной массы паров углеводородов в зависимости от температуры начала кипения</h3>
                </div>

                <div class="tableDiv">
                    <table id="table"  class="itemInfoTable" style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">t н.п/н.кд, C</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">М н.п, кг/кмоль</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">t н.п/н.кд, C</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">М н.п, кг/кмоль</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">t н.п/н.кд, C</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">М н.п, кг/кмоль</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">t н.п/н.кд, C</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">М н.п, кг/кмоль</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">t н.п/н.кд, C</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">М н.п, кг/кмоль</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">t н.п/н.кд, C</th>
                                <th class="objCell" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">М н.п, кг/кмоль</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in mol_mass %}
                            <tr>
                                <td><span>{{item.t_10_43|default_if_none:"-"}}</span></td>
                                <td><span>{{item.m_50_70|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_44_77|default_if_none:"-"}}</span></td>
                                <td><span>{{item.m_71_91|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_78_132|default_if_none:"-"}}</span></td>
                                <td><span>{{item.m_92_118|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_134_200|default_if_none:"-"}}</span></td>
                                <td><span>{{item.m_119_159|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_202_350|default_if_none:"-"}}</span></td>
                                <td><span>{{item.m_160_290|default_if_none:"-"}}</span></td>
                                <td><span>{{item.t_355_500|default_if_none:"-"}}</span></td>
                                <td><span>{{item.m_285_510|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

             </div>
        </div>
</section>
{% endblock %}