{%extends 'journal/main.html' %}
{% load static%}
{% block content %}
<section class="sidebar">
    <div class="side_tree">
        <div class="sidebar-of-text" id="oks_sidebar" style="display:block;">
        <ul>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p1')">Приложение №1</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#"onclick="updateDivContent('#id_oks_content_p2')" >Приложение №2</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p3')">Приложение №3</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p4')">Приложение №4</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p5')">Приложение №5</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p6')">Приложение №6</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p7')">Приложение №7</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p8')">Приложение №8</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p9')">Приложение №9</a>
            </li>
            <li>
                <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_oks_content_p10')">Приложение №10</a>
            </li>
        </ul>
    </div>
    </div>
</section>

<section class="content">
    <div class="oks_content">
            <div class="content_text" id="id_oks_content_p1" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава конденсата нестабильного<br>10Р-2№2 Протокол анализа №09-2021 PVT(К) от 25.02.2021</h3>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая, гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (расчетная)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>дата</h4></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in oks_p1%}
                            <tr>
                                <td><a href="{% url 'update_oks_p1' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p1' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.time|default_if_none:"-"}}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-info" href="{% url 'create_oks_p1'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
            </div>
            <div class="content_text" id="id_oks_content_p2" style="display: none">

                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава газа по ГОСТ 31371<br>10С-1№2  протокол № 05 - PVT(Г) от 25.02.2021</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p2'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая, гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (расчетная)</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in oks_p2%}
                            <tr>
                                <td><a href="{% url 'update_oks_p2' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p2' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_oks_content_p3" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава газа по ГОСТ 31371<br>п.34 паспорт качества  №3 от 01.04.2021г.</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p3'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая, гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (расчетная)</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in oks_p3%}
                            <tr>
                                <td><a href="{% url 'update_oks_p3' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p3' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"|}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content_text" id="id_oks_content_p4" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава газа по ГОСТ 31371<br> 30Р-1 протокол № 07-PVT(Г) от 25.02.2021</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p4'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание<br> компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса<br> компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая,<br> гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс,<br> % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс,<br> % (расчетная)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Содержание <br>компонента в  газе, кг/м3</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Доля компонента<br> в 1м3 газа</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in oks_p4%}
                            <tr>
                                <td><a href="{% url 'update_oks_p4' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p4' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.content_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.proportion_of_the_component|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_oks_content_p5" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава газа по ГОСТ 31371<br>20Е-1№3  протокол № 06 - PVT(Г) от 25.02.2021</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p5'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая, гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (расчетная)</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in oks_p5%}
                            <tr>
                                <td><a href="{% url 'update_oks_p5' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p5' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_oks_content_p6" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава газа по ГОСТ 31371<br>выход газа п.35 ПРОТОКОЛ №08 - PVT(Г) от 25.02.2021</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p6'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая, гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (расчетная)</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in oks_p6%}
                            <tr>
                                <td><a href="{% url 'update_oks_p6' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p6' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_oks_content_p7" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава газа по ГОСТ 31371<br>10С-4№2</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p7'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая, гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (расчетная)</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for item in oks_p7%}
                            <tr>
                                <td><a href="{% url 'update_oks_p7' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p7' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_oks_content_p8" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Таблица 5.3 Состав конденсата скв Р5.</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p8'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDiv">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>баллон 1506 </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>баллон 1641</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>среднее</h4></th>

                            </tr>
                        </thead>
                        <tbody>
                        {%for item in oks_p8%}
                            <tr>
                                <td><a href="{% url 'update_oks_p8' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p8' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.cylinder_1506|default_if_none:"-"}}</span></td>
                                <td><span>{{item.cylinder_1641|default_if_none:"-"}}</span></td>
                                <td><span>{{item.average_value|default_if_none:"-"}}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_oks_content_p9" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Определение компонентного состава газа сепарации<br>скв.Р5  проба 2119 (из отчета по договору №ГДШ 777/1.08.12)</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p9'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>мольное содержание компонентов, %</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса общая, гр/моль</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (расчетная)</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in oks_p9%}
                            <tr>
                                <td><a href="{% url 'update_oks_p9' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p9' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_oks_content_p10" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>10Р-2№2 КГН  Протокол 09-2021 PVT (К) от 25.02.2021</h3>
                    <a class="btn btn-info" href="{% url 'create_oks_p10'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Состав</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Молярная масса компо-нента</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>масс, % (хрома-тограф)</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in oks_p10%}
                            <tr>
                                <td><a href="{% url 'update_oks_p10' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_oks_p10' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name|default_if_none:"-"}}</span></td>
                                <td><span>{{item.соmposition|default_if_none:"-"}}</span></td>
                                <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
                                <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
                                <td><span>{{item.proportion|default_if_none:"-"}}</span></td>



                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a></a>
            </div>
    </div>
</section>
{% endblock %}