
<section class="sidebar">
    <div class="side_tree">
        <div class="sidebar-of-text" id="oks_sidebar" style="display:block;">
        <ul>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p1_list' %}"  >Приложение №1</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p2_list' %}"  >Приложение №2</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p3_list' %}" >Приложение №3</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p4_list' %}" >Приложение №4</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p5_list' %}" >Приложение №5</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p6_list' %}" >Приложение №6</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p7_list' %}" >Приложение №7</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p8_list' %}" >Приложение №8</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p9_list' %}" >Приложение №9</a>
            </li>
            <li>
                <a class="tableItem choiced" href="{% url 'oks_p10_list' %}" >Приложение №10</a>
            </li>
        </ul>
        </div>
    </div>
</section>
