{%extends 'journal/main.html' %}
{% load static%}
{% block content %}
<section class="sidebar">
        <div class="side_tree">
                <div class="sidebar-of-text" id="rmo_sidebar" style="display: block;">
                <ul>
                    <li>
                        <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_rmo_content_lg')">Потери газа</a>
                    </li>
                    <li>
                        <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_rmo_content_md')">Показание счетчиков 20Е-1</a>
                    </li>
                    <li>
                        <a class="tableItem choiced" href="#" onclick="updateDivContent('#id_rmo_content_gs')">Газ стабилизации</a>
                    </li>
                </ul>
    </div>
        </div>
</section>

<section class="content">
        <div class="rmo_content">
            <div class="content_text" id="id_rmo_content_lg" style="display: none">
                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Потери газа</h3>
                    <a class="btn btn-info" href="{% url 'create_rmo_lg'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">Дата</th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Факел</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Переработка</h4></th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data_rmo_lg%}
                            <tr>
                                <td><a href="{% url 'update_rmo_lg' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_rmo_lg' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.update_date}}</span></td>
                                <td><span>{{item.fakel}}</span></td>
                                <td><span>{{item.recicling}}</span></td>


                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_rmo_content_md" style="display: none">

                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Показание счетчиков 20Е-1</h3>
                    <a class="btn btn-info" href="{% url 'create_rmo_md'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">Дата</th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>20Е-1 №1</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>20Е-1 №2</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>20Е-1 №3</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Итог</h4></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data_rmo_md%}
                            <tr>
                                <td><a href="{% url 'update_rmo_md' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_rmo_md' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.update_date|default_if_none:"-"}}</span></td>
                                <td><span>{{item.v_20e_1_1|default_if_none:"-"}}</span></td>
                                <td><span>{{item.v_20e_1_2|default_if_none:"-"}}</span></td>
                                <td><span>{{item.v_20e_1_3|default_if_none:"-"}}</span></td>
                                <td><span>{{item.itog|default_if_none:"-"}}</span></td>



                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="content_text" id="id_rmo_content_gs" style="display: none">

                <div style="display: inline-flex; width: 100%">
                    <div class="date_div">
                        <div class="date-input-group">
                            <input type="date" id="table_date_start" class="date_input" required="" onkeydown="return false" max="2022-10-15">
                            <label for="table_date_start" class="table_date_label">Дата</label>
                        </div>

                        <div class="date-input-group" id="stop-date-div" style="display: none;">
                            <input type="date" id="table_date_stop" class="date_input" required="" onkeydown="return false" max="2022-10-15" min="2022-10-15">
                            <label for="table_date_stop" class="table_date_label">Конец</label>
                        </div>

                        <input type="hidden" value="date" id="date-type">
                    </div>
                </div>

                <div class="content-header">
                    <h3>Газ стабилизации из 20Е-1 в УКЦ<br>Газ стабилизации из  УКЦ в МГ<br>КГН из  УКЦ в 10Е-1</h3>
                    <a class="btn btn-info" href="{% url 'create_rmo_ps'%}"><img src="{% static 'journal/images/plus.png' %}" alt="Добавить" title="Добавить" height="32" width="32"></a>
                </div>

                <div class="tableDivOKS">
                    <table class="itemInfoTableOKS"  style="width:100%; float:left">
                        <thead>
                            <tr>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS"style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4> </h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center">Дата</th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>"Перешло из газа стабилизации в КГН, % массовые"</h4></th>
                                <th class="objCellOKS" style="width: 2%; padding-left: 0px; padding-right: 0px; text-align: center"><h4>Перешло из газа стабилизации в КГН,</h4></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in rmo_ps%}
                            <tr>
                                <td><a href="{% url 'update_rmo_ps' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
                                <td><a href="{% url 'delete_rmo_ps' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td>
                                <td><span>{{item.name}}</span></td>
                                <td><span>{{item.update_time}}</span></td>
                                <td><span>{{item.perehod_per}}</span></td>
                                <td><span>{{item.perehod_t}}</span></td>



                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                <a></a>
            </div>
        </div>
</section>
{% endblock %}