<section class="sidebar">
    <div class="side_tree">
            <div class="sidebar-of-text" id="rmo_sidebar" style="display: block;">
            <ul>
                <li>
                    <a class="tableItem choiced" href="{% url 'rmo_lg_list' %}">Потери газа</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rmo_md_list' %}">Показание счетчиков 20Е-1</a>
                </li>
                <li>
                    <a class="tableItem choiced" href="{% url 'rmo_ps_list' %}">Газ стабилизации</a>
                </li>
            </ul>
        </div>
    </div>
</section>