<div class="header_container">
    <ul class="header_menu">
        <li>
            <a href="#" onclick="showDiv('oks_sidebar'); return false;">Определение компонентного состава</a>
        </li>
        <li>
            <a href="#" onclick="showDiv('rtp_sidebar'); return false;">Расчет технологических потерь</a>
        </li>
        <li>
            <a href="#" onclick="showDiv('rmo_sidebar'); return false;">Расчет массы</a>
        </li>
        <li>
            <a href="#" onclick="showDiv('koff_sidebar'); return false;">Коэффициенты</a>
        </li>
        <li>
            <a href="#" onclick="showDiv('koff_s_sidebar'); return false;">Коэффициенты сверживаемости</a>
        </li>
        <li>
            <a href="#" onclick="updateDivContent('#id_pgk_content')">Потери газового конденсата через неплотности</a>
        </li>
    </ul>
</div>