<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'journal/css/body.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'journal/css/header.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'journal/css/sidebar.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'journal/css/content.css'  %}" type="text/css">
</head>
<body>
    <section class="header">
        <div class="header_container">
            <ul class="header_menu">
                <li>
                    <a href="#">Определение компонентного состава</a>
                </li>
                <li>
                    <a href="#">Расчет технологических потерь природного газа на УКПГ Киринское</a>
                </li>
                <li>
                    <a href="#">Расчет массы</a>
                </li>
                <li>
                    <a href="#">Коэффициенты</a>
                </li>
                <li>
                    <a href="#">Коэффициенты сверживаемости</a>
                </li>

                <li>
                    <a href="#">Потери газового конденсата через неплотности</a>
                </li>
            </ul>
        </div>

    </section>

    <section class="sidebar">

    </section>

    <section class="content">

    </section>

</body>
</html>