<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <title>Метрологический журнал</title>
    <link rel="stylesheet" href="{% static 'journal/css/body.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'journal/css/header.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'journal/css/sidebar.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'journal/css/content.css'  %}" type="text/css">

    <link rel="stylesheet" href="{% static 'journal/css/table.css'  %}" type="text/css">
    

    
    <link rel="stylesheet" href="{% static 'journal/css/bootstrap.min.css'  %}" type="text/css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    
</head>
<body>

    {% include "journal/navbar.html" %}



    {% block content %}
    {% endblock %}



    <script type="text/javascript" src="{% static 'journal/js/jquery-3.6.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'journal/js/update_content.js'%}"></script>
    <script type="text/javascript" src="{% static 'journal/js/include.js'%}"></script>
    <script type="text/javascript" src="{% static 'journal/js/crud.js' %}"></script>
    <script type="text/javascript" src="{% static 'journal/js/bootstrap.min.js'%}"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    
    


    
    
</body>
</html>