<section class="header">
    <div class="header_container">
        <ul class="header_menu">
            <li>
                <a href="{% url 'oks'%}">Определение компонентного состава</a>
            </li>
            <li>
                <a href="{% url 'rtp'%}">Расчет технологических потерь</a>
            </li>
            <li>
                <a href="{% url 'rmo'%}" >Расчет массы</a>
            </li>
            <li>
                <a href="{% url 'koff'%}" >Коэффициенты</a>
            </li>
            <li>
                <a href="{% url 'koff_s'%}" >Коэффициенты сверживаемости</a>
            </li>
            <li>
                <a href="{% url 'pgk'%}" >Потери газового конденсата через неплотности</a>
            </li>
        </ul>
    </div>
</section>