{% load static%}
<section class="header">
    
    <img class='logo' src="{% static 'journal/images/logo.png' %}" style="top:0;"/>
    <div class="header_container">
        
        <ul class="header_menu">

            <li>
                <a href="{% url 'oks_p1_list'%}">Определение компонентного состава</a>
            </li>
            <li>
                <a href="{% url 'rtp_1_list'%}">Расчет технологических потерь</a>
            </li>
            <li>
                <a href="{% url 'rmo_lg_list'%}" >Расчет массы</a>
            </li>
            <li>
                <a href="{% url 'koff'%}" >Коэффициенты</a>
            </li>
            <li>
                <a href="{% url 'koff_s'%}" >Коэффициенты сверживаемости</a>
            </li>
            <li>
                <a href="{% url 'pgk'%}" >Потери газового конденсата через неплотности</a>
            </li>
            <li>
                <a href="#">Отчеты<img class="arrow" src="{% static 'journal/images/arrow.png' %}"></a>
                
                <ul>
                    <li><a href="{% url 'sar'%}">Суточный рапорт УКПГ</a></li><hr class='hr-navbar-raport'>
                    <li><a href="{% url 'mar'%}">Ежемесячный эксплуатационный рапорт</a></li><hr class='hr-navbar-raport'>
                    <li><a href="{% url 'mag'%}">Материальный баланс МЭГ</a></li><hr class='hr-navbar-raport'>
                    <li><a href="{% url 'sr_kgmk'%}">Суточный рапорт Киринского ГКМ</a></li>
                </ul>

            </li>
        </ul>
    </div>
</section>

