{% load static%}
<section class="header">
    
    
    <div class="header_container">
        <img class='logo' src="{% static 'journal/images/logo.png' %}" style="top:0;"/>
        <ul class="header_menu">

            <li>
                <a href="{% url 'oks_p1_list'%}">Определение компонентного состава</a>
            </li>
            <li>
                <a href="{% url 'rtp_1_list'%}">Расчет технологических потерь</a>
            </li>
            <li>
                <a href="{% url 'rmo_lg_list'%}" >Расчет массы</a>
            </li>
            <li>
                <a href="{% url 'koff'%}" >Коэффициенты</a>
            </li>
            <li>
                <a href="{% url 'koff_s'%}" >Коэффициенты сверживаемости</a>
            </li>
            <li>
                <a href="{% url 'pgk'%}" >Потери газового конденсата через неплотности</a>
            </li>
            <li>
                <div class="ioch-link">
                    <a href="#">
                        <span class="link_name">Отчеты</span>
                    </a>
                <img class='arrow' src="{% static 'journal/images/arrow.png' %}"></i>
                </div>
                <ul class='sub-menu'>
                    <li><a href="#">Суточный рапорт УКПГ</a></li>
                    <li><a href="#">Ежемесячный эксплатационный рапорт</a></li>
                    <li><a href="#">Суточный рапорт Киринского ГКМ</a></li>
                </ul>  
            </li>
        </ul>
    </div>
</section>

<script>
    let arrow = document.querySelectorAll(".arrow");
        
    for(var i=0; i<arrow.length; i++){
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle("showMenu");
        });
    }
</script>