{% load static%}

{% block sidebar%}
{% endblock%}


<section class="sidebar">
    
    <div class="profile-details">
        <div class="profile-content">
            <box-icon name='user'></box-icon>
            {% comment %} <img src="image/profile.jpg" alt="profile" > {% endcomment %}
        </div>
        <div class="name-job">
            <div class="profile_name">{{ user.username|default:'гость' }}</div>
            {% comment %} <div class="job">Инженер-клац</div> {% endcomment %}
        </div>
        <a href="{% url 'logout' %}"><img class='logout' src="{% static 'journal/images/logout.png' %}" style="top:0;"/></a>
    </div>
    
</section>