html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    overflow: hidden;

}
body {
    width: 100%;
    overflow-x: hidden;
    background: #f2f2f2;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    position: static;
}

section {
    display: block;


}