{% load static%}
{% for item in rppp_3%}
<tr>
    <td><button type="button"
              class="btn  js-update-product"
              data-url="{% url 'rppp_3_update' item.id %}">
              <img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16">
      </button></td>
      <td><button type="button"
              class="btn js-delete-product"
              data-url="{% url 'rppp_3_delete' item.id %}">
              <img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16">
      </button></td>
    {% comment %} <td><a href="{% url 'update_rtp_p1' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
    <td><a href="{% url 'delete_rtp_p1' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td> {% endcomment %}
    <td><span>{{item.name|default_if_none:"-"}}</span></td>
    <td><span>{{item.vp_o_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.pp_o_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.tp_o_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.zp_o_i|floatformat:4|default_if_none:"-"}}</span></td>
    <td><span>{{item.bi|default_if_none:"-"}}</span></td>
    <td><span>{{item.nan_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.qo_p_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.device|default_if_none:"-"}}</span></td>
    <td><span>{{item.vp_p_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.tau_p_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.qpot_i|default_if_none:"-"}}</span></td>
    <td><span>{{item.qyp|default_if_none:"-"}}</span></td>
</tr>
{% endfor %}