{% load static%}
{% for item in oks_p7%}
<tr>
    <td><button type="button"
              class="btn  js-update-product"
              data-url="{% url 'oks_p7_update' item.id %}">
              <img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16">
      </button></td>
      <td><button type="button"
              class="btn js-delete-product"
              data-url="{% url 'oks_p7_delete' item.id %}">
              <img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16">
      </button></td>
    {% comment %} <td><a href="{% url 'update_oks_p1' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
    <td><a href="{% url 'delete_oks_p1' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td> {% endcomment %}
        <td><span>{{item.name|default_if_none:"-"}}</span></td>
        <td><span>{{item.molar_components|default_if_none:"-"}}</span></td>
        <td><span>{{item.molar_mass_of_the_component|default_if_none:"-"}}</span></td>
        <td><span>{{item.total_molar_mass|default_if_none:"-"}}</span></td>
        <td><span>{{item.chromatograph_mass|default_if_none:"-"}}</span></td>
        <td><span>{{item.calculated_mass|default_if_none:"-"}}</span></td>
</tr>
{% endfor %}