{% load static%}
{% for item in nrppp_3%}
<tr>
    <td><button type="button"
              class="btn  js-update-product"
              data-url="{% url 'nrppp_3_update' item.id %}">
              <img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16">
      </button></td>
      <td><button type="button"
              class="btn js-delete-product"
              data-url="{% url 'nrppp_3_delete' item.id %}">
              <img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16">
      </button></td>
    {% comment %} <td><a href="{% url 'update_rtp_p1' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
    <td><a href="{% url 'delete_rtp_p1' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td> {% endcomment %}
    <td><span>{{item.time|default_if_none:"-"}}</span></td>
    <td><span>{{item.date_begin|default_if_none:"-"}}</span></td>
    <td><span>{{item.date_end|default_if_none:"-"}}</span></td>
    <td><span>{{item.batch_num|default_if_none:"-"}}</span></td>
    <td><span>{{item.pg_p|default_if_none:"-"}}</span></td>
    <td><span>{{item.mp|default_if_none:"-"}}</span></td>
    <td><span>{{item.r|default_if_none:"-"}}</span></td>
    <td><span>{{item.tg_p|default_if_none:"-"}}</span></td>
    <td><span>{{item.ppj|default_if_none:"-"}}</span></td>
    <td><span>{{item.v_o|default_if_none:"-"}}</span></td>
    <td><span>{{item.v_pol|default_if_none:"-"}}</span></td>
    <td><span>{{item.n|default_if_none:"-"}}</span></td>
    <td><span>{{item.kf|default_if_none:"-"}}</span></td>
    <td><span>{{item.v|default_if_none:"-"}}</span></td>
    <td><span>{{item.py_s|default_if_none:"-"}}</span></td>
    <td><span>{{item.pa|default_if_none:"-"}}</span></td>
    <td><span>{{item.pb_d|default_if_none:"-"}}</span></td>
</tr>
{% endfor %}