{%extends 'journal/main.html' %}
{% load static%}
{% block content %}
<section class="sidebar">
    <button type="button" class="btn btn-primary js-create-product" data-url="{% url 'mag_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        Добавить
    </button>
</section>
<section class="content">
    <div class="tableSchemaSar print" style="width:90%">

        
        <h5 style="margin: 0 auto; text-align: center;">Датчиковое оборудование на схеме</h5>
        <div id="block_container_mag"  >

            <img  class="schema_mag" src="{% static 'journal/images/schema_mag.png' %}">

            <table  style="width:300px; height:500px ; font-size: 10px;">
                 <thead >
                    {% comment %} <tr class='title'><th>Датчиковое оборудование на схеме</th></tr> {% endcomment %}
                    {% comment %} <tr>
                        <th class="objCellmag" style="width: 4%">№</th>
                        <th class="objCellmag" style="width: 46%">Тип датчика</th>
                        <th class="objCellmag" style="width: 25%">Размерность</th>
                        <th class="objCellmag" style="width: 25%">Значение</th>
                    </tr> {% endcomment %}
                    <tr>
                        <th class="objCellmag" >№</th>
                        <th class="objCellmag" >Тип датчика</th>
                        <th class="objCellmag" >Размерность</th>
                        <th class="objCellmag" >Значение</th>
                    </tr>
                </thead>

                <tbody> 
                    <tr>
                        <th class="objCellmag">1</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r1|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">2</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r2|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">3</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r3|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">4</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r4|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">5</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r5|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">6</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r6|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">7</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r7|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">8</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r8|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">9</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r9|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">10</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r10|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">11</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r11|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">12</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r12|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag" rowspan="2">13</th>
                        <td class="objCellmag">Датчик уровня</td>
                        <td class="objCellmag">мм</td>
                        <td class="objCellmag">{{items_tech.dy13|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="objCellmag">Расчетный тег</td>
                        <td class="objCellmag">м3</td>
                        <td class="objCellmag">{{items_tech.rt13|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag" rowspan="2">14</th>
                        <td class="objCellmag">Датчик уровня</td>
                        <td class="objCellmag">мм</td>
                        <td class="objCellmag">{{items_tech.dy14|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="objCellmag">Расчетный тег</td>
                        <td class="objCellmag">м3</td>
                        <td class="objCellmag">{{items_tech.rt14|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag" rowspan="2">15</th>
                        <td class="objCellmag">Датчик уровня</td>
                        <td class="objCellmag">мм</td>
                        <td class="objCellmag">{{items_tech.dy15|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        
                        <td class="objCellmag">Расчетный тег</td>
                        <td class="objCellmag">м3</td>
                        <td class="objCellmag">{{items_tech.rt15|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag" rowspan="2">16</th>
                        <td class="objCellmag">Датчик уровня</td>
                        <td class="objCellmag">мм</td>
                        <td class="objCellmag">{{items_tech.dy16|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="objCellmag">Расчетный тег</td>
                        <td class="objCellmag">м3</td>
                        <td class="objCellmag">{{items_tech.rt16|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">17</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r17|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">18</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r18|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">19</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r19|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">20</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r20|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">21</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r21|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">22</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r22|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">23</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r23|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">24</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r24|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">25</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r25|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">26</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r26|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">27</th>
                        <td class="objCellmag">Расходомер</td>
                        <td class="objCellmag">кг/ч</td>
                        <td class="objCellmag">{{items_tech.r27|floatformat:3|default:"-"}}</td>
                    </tr>
                    
                </tbody>

            </table>

            <div class="modal fade" id="modal-product">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                    </div>
                </div>
            </div>
        </div>


 
        
        <div id="block_container_mag">
            <table id="product-table" style="width:1250px">
                
                <thead>
                    {% comment %} <tr class='title'><th>Датчиковое оборудование на схеме</th></tr> {% endcomment %}
                    <tr>
                        <th class="objCellmag" style="width: 2%">№</th>
                        <th class="objCellmag" style="width: 48%">Параметр баланса</th>
                        <th class="objCellmag" style="width: 25%">Размерность</th>
                        <th class="objCellmag" style="width: 25%">Значение</th>
                    </tr>
                </thead>

                <tbody> 
                    <tr>
                        <th class="objCellmag">A</th>
                        <td class="objCellmag">Наличие оборотного рМэг на начало смены</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_a|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">B</th>
                        <td class="objCellmag">Наличие факт. товарного МЭГ 100% на складе (поз.20)</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_b|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">C</th>
                        <td class="objCellmag">Наличие на начало суток на складе ПБ</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_c|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">D</th>
                        <td class="objCellmag">Приход товарного МЭГ (100% мас.) на склад фКГДУ (поз.6)</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_d|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">E</th>
                        <td class="objCellmag">Приход товарного МЭГ 100% со склада ПБ на склад УКПГ (поз.20)</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_e|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag" >F</th>
                        <td class="objCellmag">Вовлечение товарного МЭГ со склада УКПГ (поз.20)</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_f|floatformat:3|default:"-"}}</td>
                    </tr>
                    
                    <tr>
                        <th class="objCellmag" >G</th>
                        <td class="objCellmag" >Концентрация МЭГ</td>
                        <td class="objCellmag">% (масс.)</td>
                        <td class="objCellmag">{{items_balance.par_g|floatformat:3|default:"-"}}</td>
                    </tr>

                    {% comment %} <tr>
                        <td class="objCellmag">нМЭГ</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag">рМЭГ 30И-1</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag">рМЭГ 60Е-1</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr> {% endcomment %}

                    <tr>
                        <th class="objCellmag">H</th>
                        <td class="objCellmag">Плотность рМЭГ</td>
                        {% comment %} <td class="objCellmag">рМЭГ 60Е-1</td> {% endcomment %}
                        <td class="objCellmag">т/м3</td>
                        <td class="objCellmag">{{items_balance.par_h|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag" >I</th>
                        <td class="objCellmag" >Приход нМЭГ (30И-1)</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_i|floatformat:3|default:"-"}}</td>
                        
                    </tr>

                    {% comment %} <tr>
                        <td class="objCellmag" >30PM-1(a)</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag" >30PM-1(б)</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag" >30PM-1(в)</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr> {% endcomment %}

                    <tr>
                        <th class="objCellmag" >J</th>
                        <td class="objCellmag" >Регенерация рМЭГа из УРМ</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_j|floatformat:3|default:"-"}}</td>
                    </tr>

                    {% comment %} <tr>
                        <td class="objCellmag" >30PM-1(a)</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag" >30PM-1(б)</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag" >30PM-1(в)</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr> {% endcomment %}

                    <tr>
                        <th class="objCellmag">K</th>
                        <td class="objCellmag">Подача рМЭГ на ПДК (всего)</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_k|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">L</th>
                        <td class="objCellmag">Подача рМЭГ на cкважину P1</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_l|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">M</th>
                        <td class="objCellmag">Подача рМЭГ на скважину P2</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_m|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">N</th>
                        <td class="objCellmag">Подача рМЭГ на скважину P3</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_n|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">O</th>
                        <td class="objCellmag">Подача рМЭГ на скважину P4-бис</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_o|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">P</th>
                        <td class="objCellmag">Подача рМЭГ на скважину P5</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_p|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">Q</th>
                        <td class="objCellmag">Подача рМЭГ на скважину P6</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_q|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">R</th>
                        <td class="objCellmag">Подача рМЭГ на скважину P7</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_r|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">S</th>
                        <td class="objCellmag">Подача рМЭГ на манифольд</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_s|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">T</th>
                        <td class="objCellmag">Подача рМЭГ на технологию</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_t|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">U</th>
                        <td class="objCellmag">Подача рМЭГ на площадку факельных сепараторов</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_u|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">V</th>
                        <td class="objCellmag">Потери МЭГ на РЭН</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_v|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">W</th>
                        <td class="objCellmag">КГС после УСК</td>
                        <td class="objCellmag">т/сут.</td>
                        <td class="objCellmag">{{items_balance.par_w|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag" >X</th>
                        <td class="objCellmag" Унос МЭГ с КГС (норма расхода 0.9495 кг/тонн)</td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_x|floatformat:3|default:"-"}}</td>
                    </tr>

                    {% comment %} <tr>
                        <td class="objCellmag" >60E-1 №1</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag" >60E-1 №2</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag" >60E-1 №3</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr>
                    <tr>
                        <td class="objCellmag" >60E-3</tb>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">231</td>
                    </tr> {% endcomment %}

                    <tr>
                        <th class="objCellmag">AA</th>
                        <td class="objCellmag">Остаток оборотного рМЭГ на конец суток </td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_aa|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">BB</th>
                        <td class="objCellmag">Остаток товарного МЭГ на поз.20 (100% мас.)</td>                        </td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_bb|floatformat:3|default:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="objCellmag">CC</th>
                        <td class="objCellmag">Остаток на конец суток на складе ПБ (100% мас.)</td>                        </td>
                        <td class="objCellmag">тонны</td>
                        <td class="objCellmag">{{items_balance.par_cc|floatformat:3|default:"-"}}</td>
                    </tr>

                </tbody>

            </table>

            <div class="modal fade" id="modal-product">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                    </div>
                </div>
            </div>
            <img  class="schema_mag_sett" src="{% static 'journal/images/sett.png' %}">
        </div>
        
    </div>
    
</section>

{% endblock %}