{%extends 'journal/main.html' %}
{% block content %}
<section class="content ">
   
    <table class="print">
        <thead>
            <tr>
                <th >"Утверждаю"</th>
                <th colspan="2">Форма №12</th>
            </tr>
            <tr>
                <th >Генеральный директор</th>
                <th colspan="2">Генеральный директор</th>
            </tr>
            <tr> 
                <th >ООО "Газпром добыча шельф Южно-Сахалинск"</th>
                <th >_______________ В.В. Гурьянов<br>"___"___________ 2022г</th>
            </tr>
            <tr>
                <th colspan="3" >Ежемесячный эксплутационный рапорт по добыче, переработке газа и газового конденсата<br>
                    по Киринскому газоконденсатному месторождению<br>
                    за ММ.ГГ??????
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="objCellsar">Наименование</th>
                <th class="objCellsar">Еденица<br>измерения</th>
                <th class="objCellsar">факт</th>
            </tr>


            <tr>
                <th class="objCellsar" colspan="3">Газ горючий природный</th>
            </tr>

            <tr>
                <td class="objCellsar">1 Добыча (извлечение) из недр Киринского ГКМ на земную поверхность</td>
                <td class="objCellsar">тыс.м3</td>
                <td class="objCellsar">1000</td>
            </tr>


            <tr>
                <th class="objCellsar" colspan="3">Конденсат газовый</th>
            </tr>

            <tr>
                <td class="objCellsar">1 Добыча (извлечение) из недр Киринского ГКМ</td>
                <td class="objCellsar">тонн</td>
                <td class="objCellsar">1000</td>
            </tr>
            <tr class="objCellsar">

                <tr>
                    <th >Заместитель начальника производственно-технического управления<br>
                        ООО "Газпром добыча шельф Южно-Сахалинск"</th>
                    <th colspan="2">А.М. Краснолобов</th>
                </tr>

                <tr>
                    <th >Начальник фКГДУ<br>
                        ООО "Газпром добыча шельф Южно-Сахалинск"</th>
                    <th colspan="2">К.С. Воронин</th>
                </tr>

            </tr>
        </tbody>
    </table>
</section>

{% endblock %}