{% load static%}
.tableDivOKS{

    height: calc(100% - 150px);
}

.tableDivOKS table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    padding-bottom: 10px;


}

.objCellOKS {
    width: 100%;
}

.itemInfoTableOKS tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.itemInfoTableOKS{

    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    max-height: 600px;
}

.itemInfoTableOKS thead tr th:first-child, .table tbody tr td:first-child {
    border-left: none;
}

.itemInfoTableOKS thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
    position: sticky;
    top: 0;
}

.itemInfoTableOKS tbody td {
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: center;

}

.btn{
    display: inline-block;
    font-weight: normal;
    line-height: 0.75;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem 1rem;
    font-size: 1rem;
    border-radius: 50%;
    float: left;

    position: fixed;
    bottom: 50px;
    right: 50px;
}

.btn-info{
    /*background: url({% static 'journal/images/update.png' %});*/
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;

}

.btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;

}