<form method="post" action="{% url 'nrppp_9_update' form.instance.pk %}" class="js-product-update-form">
{% csrf_token %}
<div class="modal-header">
    <h4 class="modal-title">Update product</h4>
</div>
<div class="modal-body">
    {% include 'journal_rtp/forms/nrppp_9/partial_form.html' %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Закрыть</button>
    <button type="submit" class="btn btn-primary">Обновить</button>
</div>
</form>