{% load static%}
{% for item in p6calc%}
<tr>
    <td><button type="button"
              class="btn  js-update-product"
              data-url="{% url 'p6calc_update' item.id %}">
              <img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16">
      </button></td>
      <td><button type="button"
              class="btn js-delete-product"
              data-url="{% url 'p6calc_delete' item.id %}">
              <img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16">
      </button></td>
    {% comment %} <td><a href="{% url 'update_p6calc' item.id%}" ><img src="{% static 'journal/images/update.png' %}" alt="Обновить" title="Обновить" height="16" width="16"></a></td>
    <td><a href="{% url 'delete_p6calc' item.id%}"><img src="{% static 'journal/images/delete.png' %}" alt="Удалить" title="Удалить" height="16" width="16"></a></td> {% endcomment %}
        <td><span>{{item.name|default_if_none:"-"}}</span></td>
        <td><span>{{item.time|default_if_none:"-"}}</span></td>
        <td><span>{{item.d_e|default_if_none:"-"}}</span></td>
        <td><span>{{item.molar|default_if_none:"-"}}</span></td>
        <td><span>{{item.p|default_if_none:"-"}}</span></td>
        <td><span>{{item.t|default_if_none:"-"}}</span></td>
        <td><span>{{item.m|default_if_none:"-"}}</span></td>
</tr>
{% endfor %}