<section class="sidebar">
    <div class="side_tree">
            <div class="sidebar-of-text" id="koff_s_sidebar" style="display: block;">
    <ul>
        <li>
            <a class="tableItem choiced" href="{% url 'p2calc_list' %}">Приложение №2</a>
        </li>
        <li>
            <a class="tableItem choiced" href="{% url 'p3calc_list' %}">Приложение №3</a>
        </li>
        <li>
            <a class="tableItem choiced" href="{% url 'p4calc_list' %}">Приложение №4</a>
        </li>
        <li>
            <a class="tableItem choiced" href="{% url 'p5calc_list' %}">Приложение №5</a>
        </li>
        <li>
            <a class="tableItem choiced" href="{% url 'p6calc_list' %}">Приложение №6</a>
        </li>
        <li>
            <a class="tableItem choiced" href="{% url 'p7calc_list' %}">Приложение №7</a>
        </li>
    </ul>
</div>
    </div>
</section>